.productCard {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

.productWrapper {
    width: 85%;
    position: relative;
    max-width: 1200px;
}

.mainPhotoWrapper {
    width: 100%;
}

.pathWrapper {
    width: fit-content;
    display: flex;
    align-items: center;
    /* font-weight: 700; */
    text-transform: uppercase;
    font-size: .6rem;
    color: #1A1A1A;   
}

.pathLink {
    white-space: nowrap;
}

.arrow {
    font-size: 1rem !important;
}

.topWrapper {
   width: 100%;
   display: flex;
   justify-content: center;
    margin-top: 10%;

}

.topWrapperWrapper {
    position: relative;
    /* width: 85%; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.photosWrapper {
    position: relative;
    width: 100%;
}

.mainPhoto {
    width: 100%;
}

.smallPhotosWrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    scroll-behavior: smooth;
    margin-top: 2%;
}

.smallPhotos {
    display: flex;
}

.smallImageWrapper {
    /* width: 20% !important; */
    margin-right: 2%;
    flex-shrink: 0;
    /* padding-bottom: 10% !important; */
    background-color: aqua;
    /* max-height: 150px;
    display: flex;
    align-items: center; */
}



.carousel {
    margin-top: .5rem;
    /* width: 50%; */
    /* width: fit-content !important; */
    background-color: pink;
    /* height: 100%; */
    /* display: flex; */
}

.carousel__inner-slide {
    position: relative !important;
    height: fit-content !important;
}

.slider {
    width: 100%;
    background-color: antiquewhite;
    /* display: flex; */
}

.smallImageWrapper:last-of-type {
    margin-right: 0%;
}

.smallImage {
    width: 100% !important;
}

.more {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 20% 0;
}

.moreWrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.nameAndPrice {
    margin: 5% 0 8% 0;
}

.productName {
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

.productPrice {
    font-size: 1.5rem;
}

.compositionDescription {
    font-weight: 700;
    font-size: 1rem;
}

.composition {
    font-weight: 400;
    list-style-type: none
}

.compositionDescription {
    margin-bottom: 6%;
}

.descriptionText {
    margin-bottom: 5%;
}

.h2 {
    font-size: 1.3rem;
    margin-bottom: 2%;
}

@media (min-width: 1024px) {
    .topWrapperWrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .photosWrapper {
        width: 40%;
    }

    .detailsWrapper {
        width: 50%;
    }

    .topWrapper {
        margin-top: 2%;
    }

    .nameAndPrice {
        margin: 0 0 8% 0;
    }

    .mainPhotoWrapper {
        /* max-height: 70vh; */
        overflow: hidden;
        /* overflow: auto; */
    }

    .mainPhoto {
        /* max-height: 70vh; */
        /* object-fit:cover; */
        /* content: fit; */
    }

    .smallImageWrapper {
        /* max-height: 20vh; */
        overflow: hidden;
    }

    .more {
        margin: 10% 0;
    }

    .moreWrapper {
        justify-content: space-between;
    }

    .h2 {
        margin-bottom: 0;
    }
}