.itemWrapper {
    position: relative;
    width: 90%;
    /* margin: 5% 0; */
    margin: 1rem 0;
    background-color: rgb(255, 255, 255);
    /* max-height: ; */
}

.mainImage {
    position: relative;
    width: 100%;
}

.hoverImage {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .2s;
}

.hoverImage:hover {
    opacity: 1;
}

.productName {
    font-weight: 400;
    font-size: 1rem;
}

.productPrice {
    font-size: 1rem;
    margin: 2% 0;
    font-weight: 700;
}

@media (min-width: 768px) {
    .itemWrapper {
        width: 40%;
        flex-shrink: 0;
        margin: 1rem 5%;
    }
}

@media (min-width: 1000px) {
    .itemWrapper {
        width: 21%;
        flex-shrink: 0;
        margin: 1.5rem 2%;
    }
}