.select {
    position: relative;
    min-width: fit-content;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    margin-top: .5rem;
}

.selected {
    display: flex;
    align-items: center;
    padding: .5rem;
    justify-content: space-between;
    border: 2px solid #d9d9d9;
}

.options {
    border: 2px solid rgb(186, 186, 186);
    border-radius: .2rem;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    display: none;
}

.show {
    display: block;
}

.selectOption {
    padding: .5rem;
    transition: .2s;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.selectOption:hover {
    background-color: #d9d9d9;
}

.selectedIcon {
    font-size: 1.3rem !important;
}

.optionIcon {
    font-size: 1.1rem !important;
    margin-left: .2rem;
}

@media (min-width: 768px) {
    .select {
        width: 30%;
        margin-right: 1rem;
    }
}

@media (min-width: 1024px) {
    .select {
        width: 25%;
    } 
}