.pathWrapper {
    width: fit-content;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: .6rem;
    color: #1A1A1A;   
}

.pathLink {
    white-space: nowrap;
}

.arrow {
    font-size: 1rem !important;
}