.skeletonProductCard {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

.skeletonProductWrapper {
    width: 85%;
    position: relative;
    max-width: 1200px;
}

.skeletonPathWrapper {
    width: 100%;
    height: 1rem;
    background: linear-gradient(-45deg, #f3f3f3, #ddd);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
}

.skeletonTopWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.skeletonTopWrapperWrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.skeletonPhotosWrapper {
    position: relative;
    width: 100%;
}

.skeletonMainPhoto {
    width: 100%;
    height: 60vh;
    background: linear-gradient(-45deg, #f3f3f3, #ddd);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
}

.skeletonCarousel {
    width: 100%;
    height: 15vh;
    background: linear-gradient(-45deg, #f3f3f3, #ddd);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
    margin-top: .5rem;
}

.skeletonNameAndPrice {
    margin: 5% 0 8% 0;
}

.skeletonProductName {
    width: 90%;
    height: 1.5rem;
    background: linear-gradient(-45deg, #f3f3f3, #ddd);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
    margin: .5rem 0;
}

.skeletonProductPrice {
    width: 30%;
    height: 1.5rem;
    background: linear-gradient(-45deg, #f3f3f3, #ddd);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
}

.skeletonCompositionDescription, .skeletonDescription {
    height: 1rem;
    margin-bottom: .5rem;
    background: linear-gradient(-45deg, #f3f3f3, #ddd);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
    width: 10%;
}

.skeletonComposition {
    width: 35%;
    height: 1rem;
    background: linear-gradient(-45deg, #f3f3f3, #ddd);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
 }

 .skeletonDescriptionText {
    margin-bottom: .5rem;
    width: 100%;
    height: 1rem;
    background: linear-gradient(-45deg, #f3f3f3, #ddd);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
}

.skeletonCta {
    width: 25%;
    height: 2.5rem;
    background: linear-gradient(-45deg, #f3f3f3, #ddd);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
}

 .skeletonDescriptionTextWrapper {
    margin: 2rem 0;
}


.pathLink {
    white-space: nowrap;
}

.arrow {
    font-size: 1rem !important;
}

.carouselArrow {
    position: absolute;
    top: 50%;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.arrowBack {
    transform: translate(-50%, -50%);
}

.arrowNext {
    left: 100%;
    transform: translate(-50%, -50%);
}

.mainPhoto {
    width: 100%;
}

.smallPhotosWrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    scroll-behavior: smooth;
    margin-top: 2%;
}

.smallPhotos {
    display: flex;
}

.smallImageWrapper {
    margin-right: 2%;
    flex-shrink: 0;
}

.carousel {
    margin-top: .5rem;
}

.carousel__inner-slide {
    position: relative !important;
    height: fit-content !important;
}

.slider {
    width: 100%;
}

.smallImageWrapper:last-of-type {
    margin-right: 0%;
}

.smallImage {
    width: 100% !important;
    cursor: pointer;
}

.more {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 20% 0;
}

.moreWrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}














.h2 {
    font-size: 1.3rem;
    margin-bottom: 2%;
}

.skeletonDelivery {
    margin: 1.5rem 0;
}

.arrowCarusel {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.arrowLeft {
    left: 0;

}

.arrowRight {
    left: 100%;
    transform: translate();
}

.colorsText {
    margin-bottom: 5%;
}

.carousel {
    position: relative;
}

.arrowIcon {
    font-size: 2.5rem !important;
    background-color: #1A1A1A;
    border-radius: 50%;
    fill: #ffffff !important;
}

.mail {
    font-weight: 500;
}

.order {
    display: inline-block;
    background-color: black;
    width: 100%;
    padding: .5rem 0;
    font-size: 1rem;
    text-align: center;
    margin-top: 1.5rem;
    font-weight: 700;
    color: #fff;
    border: 1px solid black;
}

.order:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}

@media (min-width: 1024px) {
    .skeletonTopWrapperWrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .skeletonPathWrapper {
        width: 30%;
    }

    .skeletonPhotosWrapper {
        width: 40%;
    }

    .skeletonMainPhoto {
        height: 68vh;
    }

    .skeletonDetailsWrapper {
        width: 50%;
    }

    .skeletonTopWrapper {
        margin-top: 2%;
    }

    .skeletonNameAndPrice {
        margin: 0 0 8% 0;
    }

    .skeletonProductName {
        width: 40%;
    }

    .mainPhotoWrapper {
        overflow: hidden;
    }

    .smallImageWrapper {
        overflow: hidden;
    }

    .more {
        margin: 10% 0;
    }

    .moreWrapper {
        justify-content: space-between;
    }

    .h2 {
        margin-bottom: 0;
    }

    .order {
        width: unset;
        padding: .5rem 3rem;
        letter-spacing: .1rem;
    }
}

.disabled {
    display: none;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}