.footer {
    position: relative;
    width: 100%;
    margin-top: 5rem;
    text-align: center;
}

.footerWrapper {
    position: relative;
    width: 90%;
    border-top: 2px solid #D9D9D9;
    padding: 1.5rem 0 3rem 0;
    left: 50%;
    transform: translate(-50%);
}

.navigationGroup {
    margin: 2rem 0;
}

.navigationHeading {
    font-size: .75rem;
}

.line {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 25%;
    height: 2px;
    margin: .5rem 0 .75rem 0;
    background-color: black;
}

.socialMediaHeading {
    font-size: 1.2rem;
}

.footerNavigationItem {
    line-height: 150%;
    font-size: .75rem;
    transition: .2s;
}

.socialMediaIcon {
    fill: #323232 !important;
    width: 2rem !important;
    height: 2rem !important;
    margin: .5rem .5rem 0 .5rem;
    transition: .5s;
}

.socialMediaIcon:hover {
    fill: #D9D9D9 !important;
}

.footerLink {
    transition: .5s;
}

.footerLink:hover {
  color: #8b8b8b;
}

@media (min-width: 768px) {
    
    .footer {
        text-align: left;
    }

    .footerWrapper {
        display: flex;
        width: 95%;
        justify-content: space-between;
    }

    .line {
        left: 0;
        transform: unset;
    }

    .footerNavigationWrapper {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        margin-right: 30%;
    }
    
    .navigationGroup {
        margin: unset;
    }
}